.div {
  background-color: white;
  margin-right: 500px;
  margin-left: 500px;
  margin-bottom: 50px;
  border-radius: 20px;
}

#button {
  width: 90%;
  color: white;
  background-color: red;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 20px;
}

#h1 {
  font-size: 70px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin-bottom: 200px;
  padding: 50px 50px 50px 50px;
}

#input {
  width: 90%;
  margin-left: 20px;
}

#p {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding-top: 20px;
  font-size: 20px;
}

#h5 {
  font-family: "Roboto Mono", monospace;
}
